<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/educacion"></ion-back-button>
    </ion-buttons>
    <ion-title>Colegios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let item of results">
      <img [src]="item.image" />
      <ion-card-header>
                <ion-card-subtitle>{{item.address}}</ion-card-subtitle>
                <ion-card-subtitle>{{item.telefono}}</ion-card-subtitle>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
            <ion-card-content>{{item.detail}}</ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
