/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.item_card{
  //background-position: center;
  //background-size: cover;
  //background-repeat: no-repeat;
  height: 150px;
  border-radius: 15px;
}
.item_title{
  width: 75%;
  font-size:20px;
  font-weight: bold;
}
.item_title_header{
  position: absolute;
  bottom: 5%;
  width: 100%;
  color: white;
}
.logo_marina{
  position: absolute;
  right: 3%;
  top: 5%;
}

.contrast { filter: contrast(40%); }

.grayscale { filter: grayscale(10%); }
//.blur { filter: blur(0.5px); }
